Ets.SingleApi.ExternalServices/Service References/SmsSoap/Sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SmsSendType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SmsSendType">
        <s:restriction base="s:string">
          <s:enumeration value="亿美软通" />
          <s:enumeration value="天下畅通" />
          <s:enumeration value="创世漫道" />
          <s:enumeration value="营销渠道" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendSmsBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsBaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgSendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsBase" />
  </wsdl:message>
  <wsdl:message name="SendSmsBaseSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsBaseResponse" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:MsgSendSms" />
  </wsdl:message>
  <wsdl:message name="MsgSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:MsgSendSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <wsdl:input message="tns:SendSmsBaseSoapIn" />
      <wsdl:output message="tns:SendSmsBaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <wsdl:input message="tns:MsgSendSmsSoapIn" />
      <wsdl:output message="tns:MsgSendSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsSoap" type="tns:SmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <soap:operation soapAction="http://tempuri.org/SendSmsBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <soap:operation soapAction="http://tempuri.org/MsgSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsSoap12" type="tns:SmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsBase">
      <soap12:operation soapAction="http://tempuri.org/SendSmsBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSendSms">
      <soap12:operation soapAction="http://tempuri.org/MsgSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sms">
    <wsdl:port name="SmsSoap" binding="tns:SmsSoap">
      <soap:address location="http://service.etaoshi.com/Sms.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsSoap12" binding="tns:SmsSoap12">
      <soap12:address location="http://service.etaoshi.com/Sms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>